<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__left">
                <a href="/" class="footer__logo">{% include 'tpl/inc/svg/logo.svg' %}</a>
                <ul class="footer__links">
                    <li><a href="#">Каталог</a></li>
                    <li><a href="#">Доставка</a></li>
                    <li><a href="#">Оплата</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">О галерее</a></li>
                </ul>
            </div>
            <div class="footer__links-block">
                <a href="tel:+74955555555">{% include 'tpl/inc/svg/phone.svg' %}+7 (495) 555-55-55</a>
                <a href="#">{% include 'tpl/inc/svg/address.svg' %}г. Москва, ул. Расплетина, 24</a>
            </div>
        </div>
    </div>
</footer>
