<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__left">
                <a href="/" class="header__logo">{% include 'tpl/inc/svg/logo.svg' %}</a>
                <ul class="header__links">
                    <li><a href="#">Каталог</a></li>
                    <li><a href="#">Доставка</a></li>
                    <li><a href="#">Оплата</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">О галерее</a></li>
                </ul>
            </div>
            <div class="header__search">
                <input type="text" placeholder="Поиск по названию картины" class="header__search-input">
                <button class="header__search-btn">Найти</button>
            </div>
        </div>
    </div>
</header>
